/*
Максимальная ширина контента
*/
@media (min-width: 1200px) {
    /*.container {*/
        /*max-width: 990px;*/
    /*}*/
}

html {

}
body {

}
/*
Стили оформления блока
с ссылками на версию для
слабовидящих и проверки
готовности анализов
*/
.top-page{
    background-color: #0062cc;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-page li {
    float: left;
    position: relative;
}
.top-page li:nth-child(2){
    margin-left: 20px;
}
.top-page a {
    color: #fff;
    margin-left: 30px;
}
.top-page a:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(../images/bl1.png) no-repeat center center;
}
 .top-page a.icon-check-analysis:before{
     background: transparent url(../images/an1.png) no-repeat center center;
}

/*
Стили для оформления
блоков в шапке сайта,
логотип, поиск, адрес,
телефон, режим работы
*/
header {
    padding-top: 10px;
    padding-bottom: 10px;
}
header img {
    margin-top: 20px;
    float: left;
}
.logo img {
    max-width: 100%;
}
header input {
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}
header .search-box {
    padding-top: 30px;
}
header .btn-search {
    background: transparent url(../images/search_icon.png) no-repeat center center;
    border: 1px solid #c6e8fe;
    padding-left: 15px;
    padding-right: 15px;
}
header .search-field {
    border: 1px solid #c6e8fe;
    border-right: none;
    padding: 3px 7px;
    border-radius: 10px 0 0 10px;
    max-width: 160px;
}
header .address-info,
header .phone-info{
    padding-top: 5px;
}
header .address-info p{
    margin-left: 30px;
}
/*
Стили оформления меню
*/
.padding-menu {
    padding-top: 0;
    padding-bottom: 0;
}
.main-menu {
    background: #1b75d5;
}
.main-menu li {
    width: 16.666%;
}
.main-menu a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
}
.main-menu a:hover {
    background-color: #00ccff;
}
.main-menu .dropdown-item {
    color: #000;
}
.main-menu .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 45%;
}

/*Стили обертки
для контента*/
.main-content {
    margin-top: 15px;
}
.main-content .page-header {
    font-size: 1.9rem;
    color: #1e4ca4;
}
.med-service {
    background: 0 150px #fff url(../images/submenu_background.png) no-repeat;
    padding-bottom: 70px !important;
}
.med-service img {
    float: left;
}
.med-service h4 {
    font-size: 1.1rem;
    color: #248DCE;
    margin-top: 10px;
}
.med-service:nth-child(3) h4,
.med-service:nth-child(4) h4 {
    margin-top: 15px;
}
.med-service ul {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    list-style: none;
}
.med-service:nth-child(3) ul,
.med-service:nth-child(4) ul {
    margin-top: 47px;
}
.med-service a {
    color: #000000;
    font-size: 14px;
}